.about-product__wrapper {
  max-width: 1220px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 92%;
    padding: 0 30px 47px 30px;
    border-bottom: 1px solid $special-border-grey;
  }

  @media (min-width: $desktop-width) {
    width: 85%;
    padding: 0 110px 11px 110px;
    border-bottom: none;
  }
}

.about-product__title {
  margin: 0;
  color: $basic-black;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
  }
}

.about-product__list {
  @include list-zeroing;
  counter-reset: section;

  @media (min-width: $tablet-width) {
    width: auto;
    display: grid;
    grid-template-columns: 230px 230px;
    column-gap: 154px;
    row-gap: 37px;
  }

  @media (min-width: 769px) and (max-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    column-gap: 75px;
    row-gap: 0;
  }
}

.about-product__item {
  padding: 3px 0;
  padding-left: 80px;
  max-width: 460px;

  position: relative;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &:last-child {
    margin-bottom: 42px;
  }

  &--leaf::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 60px;
    height: 60px;
    background: url("../img/about-product/icon_leaf.svg") no-repeat 50% 50%
      $basic-green;
  }

  &--tub::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 60px;
    height: 60px;
    background: url("../img/about-product/icon_tub.svg") no-repeat 50% 50%
      $basic-green;
  }

  &--eat::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 60px;
    height: 60px;
    background: url("../img/about-product/icon_eat.svg") no-repeat 50% 50%
      $basic-green;
  }

  &--alarm::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 60px;
    height: 60px;
    background: url("../img/about-product/icon_alarm.svg") no-repeat 50% 50%
      $basic-green;
  }

  @media (min-width: $tablet-width) {
    width: 245px;
    padding: 151px 0 57px 0;

    &:first-child {
      width: 230px;
    }

    &:not(:last-child) {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &--leaf::before {
      content: "";
      position: absolute;
      top: 40px;
      left: 0;
      transform: translateY(0);
      width: 80px;
      height: 80px;
      background: url("../img/about-product/icon_leaf.svg") no-repeat 50% 50%
        $basic-green;
    }

    &--tub::before {
      content: "";
      position: absolute;
      top: 40px;
      left: 0;
      transform: translateY(0);
      width: 80px;
      height: 80px;
      background: url("../img/about-product/icon_tub.svg") no-repeat 50% 50%
        $basic-green;
    }

    &--eat::before {
      content: "";
      position: absolute;
      top: 40px;
      left: 0;
      transform: translateY(0);
      width: 80px;
      height: 80px;
      background: url("../img/about-product/icon_eat.svg") no-repeat 50% 50%
        $basic-green;
    }

    &--alarm::before {
      content: "";
      position: absolute;
      top: 40px;
      left: 0;
      transform: translateY(0);
      width: 80px;
      height: 80px;
      background: url("../img/about-product/icon_alarm.svg") no-repeat 50% 50%
        $basic-green;
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding: 151px 0 57px 0;
  }
}

.about-product__item-content {
  margin: 0;
  font-family: $main-font;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    z-index: 1;

    &::before {
      counter-increment: section;
      content: counters(section, ".") " ";
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      font-family: $font;
      font-size: 280px;
      line-height: 280px;
      color: $basic-grey;
    }
  }
}

.about-product__item-content br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
