.additional-product__wrapper {
  max-width: 1220px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 80px;
  }
}

.additional-product__heading {
  box-sizing: border-box;
  white-space: nowrap;
  max-width: 1440px;
  margin: 21px auto 36px auto;
  padding-left: 20px;
  display: flex;
  align-items: center;

  &::after {
    content: "";
    width: 53px;
    height: 2px;
    flex-grow: 1;
    flex-shrink: 0;
    margin-left: 22px;
    background-color: $basic-green;
  }

  @media (min-width: $tablet-width) {
    padding-left: 0;
    margin: 68px auto 80px auto;
    white-space: nowrap;

    &::before {
      content: "";
      width: 30px;
      height: 2px;
      flex-grow: 0;
      flex-shrink: 0;
      margin-right: 37px;
      background-color: $basic-green;
    }

    &::after {
      width: 328px;
      margin-left: 36px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 77px auto 80px auto;
    padding: 0;

    &::before {
      width: 70px;
      margin-right: 40px;
    }

    &::after {
      width: 957px;
      margin-left: 35px;
    }
  }
}

.additional-product__list {
  @include list-zeroing;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    border: 1px solid $special-border-bar;
    margin-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    border: none;
    margin-bottom: 80px;
  }
}

.additional-product__item {
  padding: 13px 0 18px 0;
  display: grid;
  grid-template-columns: 1fr auto;
  border-bottom: 1px solid $special-border-bar;

  &:first-child {
    border-top: 1px solid $special-border-bar;
  }

  @media (min-width: $tablet-width) {
    padding: 26px 39px 27px 38px;
    grid-template-columns: 1fr auto auto;
    align-items: start;
    column-gap: 49px;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 14px 0 16px 0;
    grid-template-columns: 277px 1fr 55px auto;
    align-items: center;
    column-gap: 37px;

    &:first-child {
      border-top: 1px solid $special-border-bar;
    }

    &:last-child {
      border-bottom: 1px solid $special-border-bar;
    }
  }
}

.additional-product__title {
  margin: 0;
  margin-bottom: 13px;
  grid-column: 1 / -1;
  font-size: 16px;
  line-height: 16px;
  color: $special-dark-grey-2;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 25px;
    grid-column: 1 / 2;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.additional-product__content {
  font-family: $main-font;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
    padding-top: 3px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 10px;
    padding-top: 10px;
  }
}

.additional-product__button {
  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    padding: 20px 72px;
    line-height: 0;
  }

  @media (min-width: $desktop-width) {
    line-height: 20px;
    padding: 10px 92px;
    grid-column: 4 / -1;
  }
}

.additional-product__event {
  position: relative;
  background: linear-gradient(
      to bottom,
      rgba(104, 183, 56, 0.85) 100%,
      rgba(104, 183, 56, 0.85)
    ),
    url("../img/additional-product/image-1.png") no-repeat 50% 50%;
  margin-bottom: 35px;

  @media (min-resolution: 2dppx) {
    background: linear-gradient(
        to bottom,
        rgba(104, 183, 56, 0.85) 100%,
        rgba(104, 183, 56, 0.85)
      ),
      url("../img/additional-product/image-1@2x.png") no-repeat 50% 50%;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
    background: linear-gradient(
        to bottom,
        rgba(104, 183, 56, 0.85) 100%,
        rgba(104, 183, 56, 0.85)
      ),
      url("../img/additional-product/image-1-tablet.png") no-repeat 50% 50%;

    @media (min-resolution: 2dppx) {
      background: linear-gradient(
          to bottom,
          rgba(104, 183, 56, 0.85) 100%,
          rgba(104, 183, 56, 0.85)
        ),
        url("../img/additional-product/image-1-tablet@2x.png") 50% 50%;
      background-size: contain;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 86px;
    background: linear-gradient(
        to bottom,
        rgba(104, 183, 56, 0.85) 100%,
        rgba(104, 183, 56, 0.85)
      ),
      url("../img/additional-product/image-1-desktop.png") no-repeat 50% 50%;
  }

  @media (min-resolution: 2dppx) {
    background: linear-gradient(
        to bottom,
        rgba(104, 183, 56, 0.85) 100%,
        rgba(104, 183, 56, 0.85)
      ),
      url("../img/additional-product/image-1-desktop@2x.png") no-repeat 50% 50%;
    background-size: contain;
  }
}

.additional-product__event-content {
  margin: 0;
  font-family: $main-font;
  font-size: 16px;
  line-height: 20px;
  color: $basic-white;
  padding: 186px 0 43px 0;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    width: 78px;
    height: 80px;
    top: 58px;
    left: 50%;
    transform: translateX(-50%);
    background: url("../img/additional-product/icon_gift.svg") no-repeat 50% 50%;
  }

  @media (min-width: $tablet-width) {
    text-align: left;
    padding: 71px 124px 69px 422px;

    &::before {
      transform: translateX(0);
      left: 77px;
    }
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    padding: 185px 43px 42px 41px;

    &::before {
      transform: translateX(0);
      top: 55px;
      left: 84px;
    }
  }
}
