.additional-product-wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.additional-product__heading {
  margin-top: 25px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 20%;
    height: 2px;
    top: 50%;
    right: -20px;
    transform: translateY(50%);
    background-color: $basic-green;
  }
}

.additional-product__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.additional-product__item {
  display: grid;
  grid-template-columns: 1fr auto;
  &:first-child {
    border-top: 1px solid $special-border-bar;
  }
  & {
    border-bottom: 1px solid $special-border-bar;
  }
}

.additional-product__title {
  margin: 0;
  margin-top: 13px;
  margin-bottom: 13px;
  grid-column: 1 / -1;
  font-size: 16px;
  line-height: 16px;
  color: $special-dark-grey-2;
  text-transform: uppercase;
}

.additional-product__content {
  font-family: Arial;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  margin-bottom: 15px;
}

.additional-product__button {
  grid-column: 1 / -1;
  margin-bottom: 19px;
}

.additional-product__event {
  position: relative;
  width: 280px;
  height: 289px;
  margin-top: 36px;
  background: url(/1008501-cat-energy-23/source/img/additional-product/gift-photo-mobile.jpg)
    no-repeat;
  margin-bottom: 35px;
}

.additional-product__event-content {
  margin: 0;
  font-family: Arial;
  font-size: 16px;
  line-height: 20px;
  color: $basic-white;
  padding-top: 186px;
  text-align: center;
  &::before {
    content: "";
    position: absolute;
    width: 78px;
    height: 80px;
    top: 58px;
    left: 50%;
    transform: translateX(-50%);
    background: url(/1008501-cat-energy-23/source/img/additional-product/icon_gift.svg)
      no-repeat 50% 50%;
  }
}
