.address {
  background-color: $basic-white;

  &--background {
    background: $basic-grey;
  }
}

.address__wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.address__info {
  display: flex;
  justify-content: space-between;
  padding: 27px 20px;

  @media (min-width: $tablet-width) {
    padding: 0 71px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    z-index: 2;
    position: absolute;
    left: 110px;
    top: 99px;
    width: 570px;
    height: 201px;
    background-color: $basic-white;
  }
}

.address__text {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: $special-black;
  text-transform: uppercase;
  width: 139px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 25px;
    padding-top: 64px;
    margin-bottom: 60px;
    width: 171px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    padding-left: 75px;
  }
}

.address__address {
  margin: 0;
  font-family: $main-font;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  width: 140px;

  @media (min-width: $tablet-width) {
    width: 159px;
    font-size: 16px;
    line-height: 19px;
    padding-top: 61px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    padding-right: 86px;
  }
}

.address__city {
  @media (min-width: $tablet-width) {
    line-height: 66px;
  }
}

.address__map {
  position: relative;
  z-index: 1;
  width: 100%;
  border: none;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
