.diets__wrapper {
  max-width: 1220px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 92%;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 85%;
    padding: 0 110px;
  }
}

.diets__field-list {
  @include list-zeroing;

  @media (min-width: $desktop-width) {
    margin-top: 82px;
    display: grid;
    grid-template-columns: 570px 570px;
    column-gap: 80px;
    row-gap: 71px;
  }
}

.diets__field-item {
  position: relative;
  padding: 29px 33px 20px 20px;
  background: $basic-grey;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &:last-child {
    margin-bottom: 26px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    transform: translateX(4%);
    top: 23px;
    background-color: $basic-green;
    border-radius: 50%;
  }

  &--slim::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 53px;
    background: url("../img/diets/cat-slim.svg") no-repeat;
    transform: translateX(-255%);
    top: 21px;
  }

  &--pro::after {
    content: "";
    position: absolute;
    width: 67px;
    height: 28px;
    background: url("../img/diets/cat-pro.svg") no-repeat;
    transform: translateX(-210%);
    top: 35px;
  }

  @media (min-width: $tablet-width) {
    padding: 77px 316px 57px 52px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &:last-child {
      margin-bottom: 45px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 200px;
      height: 200px;
      right: 62px;
      top: 92px;
      transform: translateX(0);
      background-color: $basic-green;
      border-radius: 50%;
    }

    &--slim::after {
      content: "";
      position: absolute;
      width: 140px;
      height: 194px;
      background: url("../img/diets/cat-slim-tablet.svg") no-repeat;
      transform: translateX(0);
      right: 92px;
      top: 81px;
    }

    &--pro::after {
      content: "";
      position: absolute;
      width: 268px;
      height: 112px;
      background: url("../img/diets/cat-pro-tablet.svg") no-repeat;
      transform: translateX(0);
      right: 28px;
      top: 135px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 77px 51px 59px 52px;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100px;
      height: 100px;
      left: 52px;
      top: 47px;
      background-color: $basic-green;
      border-radius: 50%;
    }

    &--slim::after {
      content: "";
      position: absolute;
      width: 70px;
      height: 97px;
      background: url("../img/diets/cat-slim-desktop.svg") no-repeat;
      left: 67px;
      top: 41px;
    }

    &--pro::after {
      content: "";
      position: absolute;
      width: 134px;
      height: 56px;
      background: url("../img/diets/cat-pro-desktop.svg") no-repeat;
      left: 33px;
      top: 67px;
    }
  }
}

.diets__field-title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: $basic-black;
  padding-left: 71px;
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 25px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 75px;
    padding-left: 162px;
  }
}

.diets__field-content {
  margin: 0;
  font-family: $main-font;
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 23px;
  border-bottom: 1px solid $special-border-grey;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    font-size: 16px;
    line-height: 24px;
    color: $basic-black;
    padding: 0;
    margin-bottom: 52px;
    min-width: 340px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 27px;
  }
}

.diets__field-button {
  display: inline-block;
  margin: 0;
  margin-top: 19px;
  text-transform: uppercase;
  color: $basic-black;
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  padding-right: 49px;
  background: url("../img/diets/icon_arrow.svg") no-repeat right;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-top: 0;
    padding-right: 56px;

    &:hover {
      background: url("../img/diets/icon_arrow-hover.svg") no-repeat right;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: $desktop-width) {
    padding-right: 60px;
  }
}
