.example {
  background-color: $special-grey;
  position: relative;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, $basic-white 57%, $special-grey 43%);
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(
      to bottom,
      $basic-white 30%,
      $basic-grey 20% 40%,
      $basic-grey 80%
    );
  }
}

.example__wrapper {
  max-width: 1220px;
  margin: 0 auto;
  padding: 27px 20px 37px 20px;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 0;
    position: relative;
    padding: 40px 30px 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 0 110px;
    display: grid;
    grid-template-columns: 436px 1fr;
    grid-template-rows: auto auto auto auto;
    column-gap: 134px;
    align-items: start;
  }
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $basic-black;
  margin: 0;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 63px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-bottom: 146px;
    padding-top: 58px;
    font-size: 60px;
    line-height: 60px;
    grid-column: 1 / 2;
  }
}

.example__content {
  position: relative;
  z-index: 2;
  font-family: $main-font;
  margin: 0;
  margin-bottom: 23px;
  max-width: 700px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    margin-bottom: 69px;
    grid-column: 1 / 2;
  }
}

.example__list-wrapper {
  @media (min-width: $tablet-width) {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr min-content;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    width: 366px;
    grid-template-columns: 1fr;
    grid-column: 1 / 2;
    grid-row-start: 2;
    grid-row-end: -1;
  }
}

.example__list {
  @include list-zeroing;
  margin: 0 auto;
  width: 280px;
  display: grid;
  grid-template-columns: 124px 124px;
  column-gap: 32px;

  @media (min-width: $tablet-width) {
    margin: 0;
    grid-template-columns: 162px 162px;
    column-gap: 42px;
  }
}

.example-item {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  min-width: 124px;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    max-width: 162px;
    width: 162px;
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }
}

.example__item-resume {
  border: 1px solid $special-border-bar;
  border-radius: 3px;
  padding: 15px 21px 17px 21px;
  white-space: nowrap;
  margin: 0;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  color: $basic-black;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    padding: 15px 30px 20px 30px;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 0;
  }
}

.example__item-text {
  font-family: $main-font;
  text-align: center;
  margin: -20px auto 0 auto;
  max-width: 82px;
  background: $special-grey;
  font-size: 12px;
  line-height: 12px;

  @media (min-width: $tablet-width) {
    margin: -10px auto 0 auto;
    max-width: 142px;
    background: $basic-white;
    font-size: 14px;
    line-height: 14px;
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-grey;
  }
}

.example__cost {
  margin: -15px 0 42px 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: $basic-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 174px;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    margin-top: 6px;
  }

  @media (min-width: $desktop-width) {
    width: 327px;
    text-align: left;
    margin-bottom: 75px;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.example__before-after-slider {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 311px;
  height: 100%;
  position: relative;
  top: 0px;
  left: -20px;
  z-index: 1;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-bottom: 15px;
    grid-column: 2 / -1;
    grid-row: 1 / 3;
  }
}

.example__image-before {
  background-color: $special-grey;
  position: relative;
  left: 35px;
  top: 17px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 2;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 47.7%;
    background-color: inherit;
  }

  @media (min-width: $desktop-width) {
    width: 51.5%;
  }
}

.example__image-after {
  display: none;
  @media (min-width: $tablet-width) {
    display: block;
    position: relative;
    z-index: 1;
    right: -37px;
    transform: translateX(-5%);
  }

  @media (min-width: $desktop-width) {
    top: 17px;
    right: -71px;
  }
}

.example__image--cat-fat {
  @media (min-width: $tablet-width) {
    max-width: unset;
  }
}

.example__before-after {
  margin-top: 28px;
  position: relative;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin: 28px auto 0 auto;
    padding: 0 69px 70px 67px;
    width: 572px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / -1;
    grid-row-start: 3;
  }
}

.example__before-button,
.example__after-button {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  border: none;
  background: none;
  color: $basic-black;

  &.example__before-button {
    margin-left: 44px;
    margin-right: 18px;
  }

  &.example__after-button {
    margin-right: 55px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dashed $special-opacity-black;

    &:hover {
      border-bottom: 1px solid $special-opacity-hover-black;
    }

    &:active {
      border-bottom: none;
    }

    &.example__before-button {
      margin-left: 0;
    }

    &.example__after-button {
      margin-right: 0;
    }
  }
}

.example__scale {
  position: relative;
  min-width: 84px;
  width: 100%;
  height: 14px;
  background: $basic-white;
  border: 1px solid $special-border-bar;
  box-sizing: border-box;
  border-radius: 6px;
  margin-right: 13px;

  @media (min-width: $tablet-width) {
    width: 428px;
    height: 6px;
    background: $special-scale-grey;
    border-radius: 6px;
  }
}

.example__bar {
  margin: 0 5px;
  transform: translateY(50%);
  width: 42%;
  height: 6px;
  background: $basic-green;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    position: absolute;
    margin: 0;
    width: 34px;
    height: 34px;
    background: $basic-white;
    border: 1px solid $special-border-bar;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    &:hover {
      filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.19));
    }

    &:active {
      filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.2));
      border: 1px solid $basic-green;
    }

    &::before {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      background: $basic-green;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
    }
  }
}
