.example {
  background-color: $special-grey;
  position: relative;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, $basic-white 57%, $special-grey 43%);
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(
      90deg,
      rgba(242, 242, 242, 1) 0%,
      rgba(242, 242, 242, 1) 80%,
      rgba(234, 234, 234, 1) 80%,
      rgba(234, 234, 234, 1) 100%
    );
  }
}

.example__wrapper {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 708px;
    position: relative;
    padding: 40px 30px 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 0 110px;
    display: grid;
    grid-template-columns: 570px 650px;
    justify-content: center;
    width: 1220px;
    margin: 0 auto;
  }
}

.example__title-wrapper {
  @media (min-width: $desktop-width) {
    background-color: $basic-white;
  }
}

.example__title {
  max-width: 1220px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $basic-black;
  margin: 0 auto;
  padding: 29px 20px 0 20px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    margin-bottom: 24px;
    font-size: 60px;
    line-height: 60px;
    padding: 42px 30px 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding: 58px 110px 75px 110px;
    font-size: 60px;
    line-height: 60px;
  }
}

.example__wrapper-left {
  @media (min-width: $desktop-width) {
    padding-top: 70px;
  }
}

.example__info {
  margin: 0;

  @media (min-width: $desktop-width) {
    padding-right: 155px;
  }
}

.example__content {
  position: relative;
  z-index: 2;
  font-family: $main-font;
  margin: 0;
  margin-bottom: 23px;
  max-width: 700px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    margin-bottom: 69px;
  }
}

.example__list-wrapper {
  @media (min-width: $tablet-width) {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr min-content;
    margin-bottom: 13px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    width: 366px;
    grid-template-columns: 1fr;
    grid-column: 1 / 2;
    grid-row-start: 2;
    grid-row-end: -1;
  }
}

.example__list {
  @include list-zeroing;
  margin: 0 auto;
  width: 280px;
  display: grid;
  grid-template-columns: 124px 124px;
  column-gap: 32px;

  @media (min-width: $tablet-width) {
    margin: 0;
    grid-template-columns: 162px 162px;
    column-gap: 42px;
  }

  @media (min-width: $desktop-width) {
    grid-auto-rows: 127px auto;
  }
}

.example-item {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  min-width: 124px;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    max-width: 162px;
    width: 162px;
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.example__item-resume {
  border: 1px solid $special-border-bar;
  border-radius: 3px;
  padding: 15px 21px 17px 21px;
  white-space: nowrap;
  margin: 0;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  color: $basic-black;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    padding: 15px 30px 17px 30px;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 0;
  }
}

.example__item-text {
  font-family: $main-font;
  text-align: center;
  margin: -20px auto 0 auto;
  max-width: 82px;
  background: $special-grey;
  font-size: 12px;
  line-height: 12px;

  @media (min-width: $tablet-width) {
    margin: -10px auto 0 auto;
    max-width: 142px;
    background: $basic-white;
    font-size: 14px;
    line-height: 14px;
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-grey;
  }
}

.example__cost {
  margin: -15px 0 42px 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: $basic-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 174px;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    margin-top: 6px;
    padding-top: 5px;
  }

  @media (min-width: $desktop-width) {
    width: 327px;
    text-align: left;
    margin-bottom: 75px;
    padding-top: 0;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.example__cost-item {
  margin-left: 0;

  @media (min-width: $desktop-width) {
    margin-left: 58px;
  }
}

.example__wrapper-right {
  @media (min-width: $desktop-width) {
    position: relative;
    background-color: #eaeaea;
  }
}

.example__before-after-slider {
  position: relative;
  height: 100%;
  min-height: 319px;

  @media (min-width: $tablet-width) {
    min-height: 630px;
    display: grid;
    grid-template-rows: 520px 114px;
  }

  @media (min-width: $desktop-width) {
    min-height: 640px;
    margin-top: -195px;
    display: grid;
    grid-template-rows: 520px 120px;
    padding-bottom: 16px;
  }
}

.example__image-item {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    position: absolute;
    justify-content: flex-start;
  }
}

.example__image-before {
  left: -5px;

  @media (min-width: $tablet-width) {
    position: absolute;
    z-index: 2;
    width: 47.5%;
    top: 0;
    left: 16px;
    background: linear-gradient($basic-white 169px, $special-grey 170px);
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient($basic-white 195px, $basic-grey 195px);
    z-index: 2;
    width: 56%;
    left: 0;
    top: 0;
  }
}

.cat-fat {
  max-width: unset;

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 0;
  }
}

.example__image-after {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    left: 107px;
    top: 0;
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient($basic-white 195px, $special-grey 195px);
    left: 92px;
    top: 0;
  }
}

.example__before-after {
  margin-top: 28px;
  position: relative;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin: 10px auto 0 auto;
    padding: 0 69px 70px 67px;
    width: 572px;
    grid-row: 2 / -1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / -1;
    grid-row-start: 2;
    padding: 0 0 52px 78px;
    margin-top: 35px;
  }
}

.example__before-button,
.example__after-button {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  border: none;
  background: none;
  color: $basic-black;

  &.example__before-button {
    margin-left: 44px;
    margin-right: 18px;
  }

  &.example__after-button {
    margin-right: 55px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dashed $special-opacity-black;

    &:hover {
      border-bottom: 1px solid $special-opacity-hover-black;
      background-color: inherit;
    }

    &:active {
      color: $basic-black;
      border-bottom: none;
    }

    &.example__before-button {
      margin-left: 0;
    }

    &.example__after-button {
      margin-right: 0;
    }
  }
}

.example__scale {
  position: relative;
  min-width: 84px;
  width: 100%;
  height: 14px;
  background: $basic-white;
  border: 1px solid $special-border-bar;
  box-sizing: border-box;
  border-radius: 6px;
  margin-right: 16px;

  @media (min-width: $tablet-width) {
    width: 428px;
    height: 6px;
    background: $special-scale-grey;
    border-radius: 6px;
  }
}

.example__bar {
  margin: 0 5px;
  transform: translateY(50%);
  width: 42%;
  height: 6px;
  background: $basic-green;
  border-radius: 6px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    position: absolute;
    margin: 0;
    width: 34px;
    height: 34px;
    background: $basic-white;
    border: 1px solid $special-border-bar;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    &:hover {
      filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.19));
    }

    &:active {
      filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.2));
      border: 1px solid $basic-green;
    }

    &::before {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      background: $basic-green;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
    }
  }
}
