.program-selection__wraper {
  margin: 0 auto;
  max-width: 1440px;
}

.program-selection__heading {
  margin: 0;
  padding: 0 20px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $basic-black;
  margin-top: 27px;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    padding: 0 69px;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    margin-bottom: 56px;
  }
}

.program-selection__content {
  margin: 0;
  padding: 0 20px;
  font-size: 14px;
  text-transform: uppercase;
  color: $basic-black;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    width: 323px;
    padding: 0 70px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    width: 323px;
    padding: 0 110px;
  }
}

.program-selection__cat-info {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    padding: 0 110px;
  }
}

.program-selection__cat-details {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    border: none;
    padding-bottom: 0;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

// program-selection-data block start
.program-selection-data {
  width: 280px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 630px;
    padding: 0 67px 0 71px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding: 0;
  }
}

.program-selection-data__list {
  @include list-zeroing;

  @media (min-width: $desktop-width) {
    &--contact-details {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 78px;
      align-items: start;
    }
  }
}

.program-selection-data__item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 14px;
  }

  @media (min-width: $tablet-width) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.program-selection-data__text {
  text-transform: uppercase;
  margin-right: 12px;

  &--email {
    margin: 0;
    margin-right: 11px;
  }

  &--phone {
    margin: 0;
    margin-right: 8px;
  }

  &--age {
    white-space: nowrap;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-right: 14px;

    &--age {
      margin-right: 14px;
    }

    &--email {
      margin-right: 18px;
    }

    &--phone {
      margin-right: 14px;
    }
  }
}

.program-selection-data__input {
  position: relative;
  border: 1px solid $special-border-input;
  padding: 13px 15px;

  &--email {
    background: url("../img/program-selection/icon_email.svg") no-repeat 95% 50%;
  }

  &--phone {
    background: url("../img/program-selection/icon_phone.svg") no-repeat 95% 50%;
  }

  @media (min-width: $tablet-width) {
    padding: 11px 19px;
    font-size: 20px;
    line-height: 30px;
  }
}

.program-selection-data__input::placeholder {
  color: $special-dark-grey;
  text-transform: uppercase;
}

// program-selection-data block end

.program-selection__choice-program {
  border-top: 1px solid $special-border-social;
  border-bottom: 1px solid $special-border-social;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    border: none;
    padding-left: 71px;
    padding-right: 67px;
  }

  @media (min-width: $desktop-width) {
    border: none;
    padding-left: 0;
    padding-right: 0;
  }
}

.program-selection__radio-list {
  @include list-zeroing;
  text-transform: uppercase;
  color: $special-dark-grey-2;
  padding: 28px 20px;

  @media (min-width: $tablet-width) {
    border: 1px solid $special-border-input;
    padding: 30px 28px;
    margin-bottom: 75px;
  }
}

.program-selection__radio-item {
  position: relative;
  padding-left: 45px;

  &:not(:last-child) {
    margin-bottom: 25px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 60px;

    &:not(:last-child) {
      margin-bottom: 23px;
    }
  }
}

.program-selection__radio-text {
  color: $special-dark-grey-2;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.program-selection__radio + .program-selection__radio-text {
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $special-border-bar;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
    }
  }
}

.program-selection__radio:checked + .program-selection__radio-text::after {
  content: "";
  position: absolute;
  width: 13.5px;
  height: 13.5px;
  border-radius: 50%;
  background: $basic-green;
  top: 50%;
  left: 9.5px;
  transform: translateY(-50%);

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
    left: 12px;
  }
}

.inner-page-title {
  font-size: 24px;
  line-height: 26px;
  color: $basic-black;
  font-weight: 400;
  width: 100%;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.program-selection__contact-details {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 67px;
  }
}

.program-selection__contact-title {
  padding: 0 20px;
  margin-bottom: 35px;
  width: 100%;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 99px;
    height: 2px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: $basic-green;
  }

  @media (min-width: $tablet-width) {
    padding-left: 69px;
    padding-right: 187px;
    margin-bottom: 76px;

    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 2px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-color: $basic-green;
    }

    &::after {
      content: "";
      position: absolute;
      width: 145px;
      height: 2px;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      background-color: $basic-green;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;

    &::before {
      width: 70px;
    }

    &::after {
      width: 778px;
    }
  }
}

.program-selection__comments-title {
  padding-left: 20px;
  width: 100%;
  position: relative;
  margin-bottom: 38px;

  &::after {
    content: "";
    position: absolute;
    width: 158px;
    height: 2px;
    top: 50%;
    right: 0;
    transform: translateY(50%);
    background-color: $basic-green;
  }

  @media (min-width: $tablet-width) {
    padding-left: 69px;
    margin-bottom: 76px;

    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 2px;
      top: 50%;
      left: 0;
      transform: translateY(50%);
      background-color: $basic-green;
    }

    &::after {
      width: 478px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;

    &::before {
      width: 70px;
    }

    &::after {
      width: 1108px;
    }
  }
}

.program-selection__comments-area-wrapper {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding-left: 70px;
    padding-right: 67px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.program-selection__comments-area {
  width: 253px;
  height: 130px;
  border: 1px solid $special-border-input;
  margin-bottom: 23px;
  padding: 10px 12px;

  &::placeholder {
    color: $special-dark-grey;
    text-transform: uppercase;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
    width: 593px;
    height: 154px;
    padding-right: 10px 19px;

    &::placeholder {
      font-size: 20px;
      line-height: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1182px;
  }
}

.program-selection__additional-details-title {
  padding-left: 20px;
  width: 100%;
  position: relative;
  margin-bottom: 39px;

  &::after {
    content: "";
    position: absolute;
    width: 136px;
    height: 2px;
    top: 50%;
    right: 0;
    transform: translateY(50%);
    background-color: $basic-green;
  }

  @media (min-width: $tablet-width) {
    padding-left: 70px;
    margin-bottom: 62px;

    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 2px;
      top: 50%;
      left: 0;
      transform: translateY(50%);
      background-color: $basic-green;
    }

    &::after {
      width: 446px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;

    &::before {
      width: 70px;
    }

    &::after {
      width: 1078px;
    }
  }
}

.program-selection-checkbox-list {
  @include list-zeroing;
  padding: 0 20px;
  text-transform: uppercase;
  margin-bottom: 41px;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 124px;
    padding-left: 70px;
    padding-right: 20px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0;
  }
}

.program-selection__checkbox-item {
  position: relative;
  padding-left: 46px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-left: 59px;
    margin-bottom: 42px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 66px;
  }
}

.program-selection__checkbox-input + .program-selection__checkbox-text {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border: 1px solid $special-border-bar;
  }

  @media (min-width: $tablet-width) {
    &::before {
      width: 40px;
      height: 40px;
    }
  }
}

.program-selection__checkbox-input:checked
  + .program-selection__checkbox-text::after {
  content: "";
  position: absolute;
  background: url("../img/program-selection/checkbox-active.svg") no-repeat 50%
    50%;
  width: 18px;
  height: 14px;
  top: 50%;
  transform: translateY(-50%);
  left: 9.5px;

  @media (min-width: $tablet-width) {
    background: url("../img/program-selection/checkbox-active-tablet.svg")
      no-repeat 50% 50%;
    width: 26px;
    height: 26px;
  }
}

.program-selection__button-wrapper {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 174px 72px 71px;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    align-items: center;
    column-gap: 81px;
    padding: 0 110px 82px 110px;
  }
}

.program-selection__button {
  border: none;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding: 13px 45px;
    margin-bottom: 0;
  }
}

.program-selection__desc {
  font-family: $main-font;
  font-size: 14px;
  line-height: 16px;
  color: $basic-black;
  margin: 0;
  text-align: center;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 0;
  }
}
