.promo {
  background: linear-gradient(
      to bottom,
      rgba(104, 183, 56, 0.85) 60%,
      $basic-white 40%
    ),
    url("../img/promo/promo-background.jpg") no-repeat center top;
  background-size: 100%, contain;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/promo/promo-background@2x.jpg") no-repeat
      center top;
    background-size: 100%, contain;
  }

  @media (min-width: $tablet-width) {
    background: $basic-white;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    background: linear-gradient(
        to right,
        $basic-white 50%,
        rgba(104, 183, 56, 0.85) 50%
      ),
      url("../img/promo/promo-background-desktop.jpg") no-repeat 100% top;
    background-size: 100%, 50%;

    @media (min-resolution: 2dppx) {
      width: 100%;
      background: linear-gradient(
          to right,
          $basic-white 50%,
          rgba(104, 183, 56, 0.85) 50%
        ),
        url("../img/promo/promo-background-desktop@2x.jpg") no-repeat 100% top;
      background-size: 100%, 50%;
    }
  }
}

.promo__wrapper {
  position: relative;
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  padding-top: 27px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 92%;
    padding: 0 30px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    width: 85%;
    text-align: left;
    margin-top: -124px;
    padding: 0 110px 185px 110px;
  }
}

.promo__product-image {
  position: absolute;
  top: 167px;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    top: 199px;
    left: 50%;
    transform: translateX(-50%) translateY(0);
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    top: 181px;
    left: 50%;
    transform: translateX(-30%) translateY(-10%);
  }
}

.promo__title {
  margin: 0;
  color: $basic-white;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 51px 207px 41px 87px;
    white-space: nowrap;
    font-size: 60px;
    line-height: 60px;
    color: $basic-black;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 40px 80px;
    padding-top: 216px;
  }
}

.promo__slogan {
  color: $basic-white;
  white-space: nowrap;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 300px;

  @media (min-width: $tablet-width) {
    color: $basic-black;
    font-size: 20px;
    line-height: 20px;
    margin-left: 87px;
    margin-bottom: 47px;

    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}

.promo__button {
  margin-bottom: 22px;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    position: relative;
    font-size: 20px;
    line-height: 20px;
    margin-left: 87px;
    padding: 17px 26px;
    margin-bottom: 526px;
    z-index: 2;

    &:hover {
      background-color: $special-hover-green;
    }

    &:active {
      color: $special-hover-white;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
    margin-bottom: 0;
  }
}
