.socials {
  background: $basic-grey;
  margin-top: -3px;
}

.socials__wrapper {
  margin: 0 auto;
  max-width: 1220px;
  padding: 39px 20px 22px 20px;

  @media (min-width: $tablet-width) {
    padding: 52px 30px 62px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: 85%;
    padding: 61px 110px 56px 110px;
  }
}

.socials__logo-link {
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-right: 24px;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.socials__list-wrapper {
  margin-top: 32px;
  margin-bottom: 22px;
  border-top: 1px solid $special-border-social;
  border-bottom: 1px solid $special-border-social;

  @media (min-width: $tablet-width) {
    border: none;
    margin: 0;
  }
}

.socials__list {
  position: relative;
  padding: 18px 0;
  margin: 0 76px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 129px;
    margin: 0;
    padding: 0;
  }
}

.socials__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 163px;
  }
}

.socials__copyright-text {
  white-space: nowrap;
  font-family: $main-font;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
}

.socials__copyright-link {
  color: $special-dark-grey;

  &:active {
    opacity: 0.3;
  }
}

.socials__copyright-icon {
  fill: $special-grey-2;
}

.socials__item-icon {
  fill: $special-grey-2;
  &--vkontakte {
    width: 23px;
    height: 16px;
  }

  &--instagram {
    width: 16px;
    height: 16px;
  }

  &--facebook {
    stroke: $special-grey-2;
    width: 22px;
    height: 22px;

    &:hover {
      stroke: $basic-green;
    }
  }

  &:hover {
    fill: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    &--vkontakte {
      width: 30px;
      height: 22px;
    }

    &--instagram {
      width: 23px;
      height: 23px;
    }

    &--facebook {
      width: 28px;
      height: 33px;
    }
  }
}
