.socials {
  background: $basic-grey;
  margin-top: -3px;
}

.socials__wrapper {
  margin: 0 auto;
  max-width: 1220px;
  padding: 39px 20px 22px 20px;

  @media (min-width: $tablet-width) {
    width: 92%;
    padding: 54px 30px 62px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: 85%;
    padding: 59px 110px 56px 110px;
  }
}

.socials__logo-link {
  margin: 0 76px;

  @media (min-width: $tablet-width) {
    margin: 0;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.socials__list-wrapper {
  margin-top: 32px;
  margin-bottom: 22px;
  border-top: 1px solid $special-border-social;
  border-bottom: 1px solid $special-border-social;

  @media (min-width: $tablet-width) {
    border: none;
    margin: 0;
  }
}

.socials__list {
  position: relative;
  padding: 25px 0;
  margin: 0 76px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 129px;
    margin: 0;
    padding: 0;
  }
}

.socials__item-link:hover path,
.socials__copyright-logo:hover path {
  fill: $basic-green;
}

.socials__item-link:active path,
.socials__copyright-logo:active path {
  fill: $basic-green;
  opacity: 0.3;
}

.socials__item-link--facebook:hover path {
  fill: none;
  stroke: $basic-green;
}

.socials__item-link--facebook:active path {
  fill: none;
  stroke: $basic-green;
  opacity: 0.3;
}

.socials__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 163px;
  }
}

.socials__copyright-text {
  white-space: nowrap;
  font-family: $main-font;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
  }
}

.socials__copyright-link {
  color: $special-dark-grey;
}

.socials__copyright-logo {
  width: 27px;
  height: 34px;
}
