$basic-white: #ffffff;
$basic-black: #000000;
$basic-green: #68b738;
$basic-grey: #f2f2f2;
$special-black: #111111;
$special-grey: #eaeaea;
$special-dark-grey: #444444;
$special-dark-grey-2: #222222;
$special-border-grey: #e6e6e6;
$special-border-bar: #cdcdcd;
$special-scale-grey: #dcdcdc;
$special-border-social: #d9d9d9;
$special-border-input: #e7e7e7;
$special-catalog-button: #d3d3d3;
$special-hover-green: #5eaa2f;
$special-hover-white: rgba(255, 255, 255, 0.3);
$special-opacity-black: rgba(0, 0, 0, 0.24);
$special-opacity-hover-black: rgba(0, 0, 0, 0.4);
$special-input-invalid: #ff8282;
$special-hover-checkbox: #bababa;
$special-grey-2: #666666;
